<%= image_tag field.original%>
<div style="width: 100%;">
<%= image_tag field.medium %>
</div>
<div style="width: 100%;">
<%= image_tag field.large%>
</div>
<div style="width: 100%;">
<%= image_tag field.original%>
</div>
