@font-face {
  font-family: 'helvetica-light';
  font-weight: 200;
  src: asset_url('helvetica-light');
}

@font-face {
  font-family: 'brandon-light';
  src: asset_url('brandon-light');
}

@font-face {
  font-family: 'brandon-thin';
  src: asset_url('brandon-thin');
}

