@font-face {
  font-family: 'helvetica-light';
  font-weight: 200;
  src: font_url('helvetica-light.woff') format('woff');;
}

@font-face {
  font-family: 'brandon-light';
  src: font_url('brandon-light.otf') format('opentype');
}

@font-face {
  font-family: 'brandon-thin';
  src: font_url('brandon-thin.otf') format('opentype');
}
