.my-gallery {
  width: 100%;
  text-align: center;
}

.my-gallery img {
  width: 100%;
  height: auto;
}

.my-gallery figure {
  display: inline-block;
  float: none;
  max-width: 100%;
}

.my-gallery figcaption {
  display: none;
}

.gallery {
  margin-top: 5em;
  margin-bottom: 5em;
  display: relative;
  max-width: 100%;
}

