.header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: 60em;
  margin: 0;
  z-index: -1;
  overflow: hidden;
  background: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.container {
  padding-top: 13em;
}

.galleries {
  margin-top: 1em;
  margin-bottom: 10em;
  max-height: 80%;
}

.galleries label {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: brandon-light;
  font-size: 1.5em;
  border: 1px solid #b9b1b0;
  text-align: center;
  cursor: pointer;
  color: #7e7a79;
}

.galleries label:hover {
  background-color: #F2F2F2;
}

.gallery-photo {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.gallery-photo:hover {
  border-radius: 50%;
}

.headtitle{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  color: white;
}

h1 {
  font-family: "brandon-thin";
  text-align: center;
  font-size: 6em;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

h2 {
  font-weight: 100;
  font-family: "brandon-thin";
  text-align: center;
  font-size: 4em;
  margin-top: 0.5em;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

h3 {
  font-weight: 100;
  font-family: "brandon-light";
  text-align: center;
  font-size: 2.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.header p {
  font-weight: 100;
  font-family: "brandon-thin";
  font-size: 1.5em;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.subtitle{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  color: white;
  text-align: center;
}

.contact {
  height: 20em;
}

.info {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  color: white;
  text-align: center;
}

.facebook-label {
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px;
  display: block;
}
