@font-face {
  font-family: 'helvetica-light';
  font-weight: 200;
  src: url('/assets/helvetica-light.woff');
}


@font-face {
  font-family: 'brandon-light';
  src: url('/assets/brandon-light.otf');
}

@font-face {
  font-family: 'brandon-thin';
  src: url('/assets/brandon-thin.otf');
}

.header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  height: 60em;
  margin: 0;
  z-index: -1;
  background: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.container {
  padding-top: 13em;
}

.galleries {
  margin-top: 1em;
}

.headtitle{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  color: white;
}

h1 {
  font-family: "brandon-thin";
  text-align: center;
  font-size: 6em;
}

h2 {
  font-weight: 100;
  font-family: "brandon-thin";
  text-align: center;
  font-size: 4em;
  margin-top: 0.5em;
}

h3 {
  font-weight: 100;
  font-family: "brandon-light";
  text-align: center;
  font-size: 3em;
  margin-top: 0.5em;
}

p {
  font-weight: 100;
  font-family: "brandon-thin";
  font-size: 1.5em;
}

.subtitle{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  color: white;
  text-align: center;
}

.contact {
  height: 20em;
}

.info {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  color: white;
  text-align: center;
}
