<header class="main-menu">
  <div class="mobile-row">
    <a class="logo" href="#">MM</a>
    <div class="mobile-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav>
      <ul>
        <li><%= home_link %></li>
        <li><%= galleries_link %></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
